/* reset */
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 10px auto;
  width: 100%;
  max-width: 1400px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: grey;
}

ul {
  list-style: none;
}
img {
  border-radius: 10px;
  padding-right: 5px;
}

h1,
h2,
h3,
h4 {
  color: black;
}

h2 {
  padding: 40px 0px;
}
h3 {
  font-size: 16px;
}

.btn {
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  padding: 0px 30px;
}

/* header layout */
header {
  padding: 20px 100px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .searchbox {
  display: flex;
  align-items: center;
}
header .dropdown__choice {
  display: flex;
  align-items: center;
  margin: 0px 10px;
  padding: 5px 0px;
  border: 1px solid #4f93f3;
  border-radius: 5px;
  height: 30px;
}

header .input__search {
  height: 40px;
  padding-left: 10px;
  border-radius: 0px 5px 5px 0px;
  width: 400px;
  border: none;
  border-left: 1px solid grey;
}

header .btn__search {
  background-color: #4f93f3;
  border: 1px solid #4f93f3;
  color: white;
}
.btn__signin a {
  color: black;
  text-decoration: none;
}
/* info layout */
.info {
  display: flex;
  padding: 20px 100px;
}
.info__inner {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 40%;
  padding-left: 20px;
}
.info__picture img {
  width: 90%;
}
.info__overview {
  display: flex;
  justify-content: space-between;
}

.info__rating__text {
  color: #4f93f3;
  font-weight: bold;
}

.info__name,
.info__address,
.info__time {
  display: flex;
  align-items: center;
}
.info__name__text {
  font-weight: bold;
  padding-left: 10px;
  color: black;
}
.info__name img {
  border-radius: 50%;
}
.info__address img,
.info__time img {
  padding-left: 20px;
}
.info__btn__message {
  background-color: white;
  color: #4f93f3;
  border: 1px solid #4f93f3;
}
/* navigation layout*/
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin: 40px 100px;
  margin-bottom: 0px;
  padding: 20px 0px;
}
.navigation ul li {
  display: inline;
  margin: 10px 20px;
  border: none;
}

.navigation__direction {
  padding-right: 30px;
}
/* main layout */
main {
  padding: 10px 100px;
}
.main__content {
  margin: 40px 0px;
}
.main__content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main__content ul li {
  width: 31%;
  margin: 15px 0px;
}
.main__feature {
  display: flex;
}
.main__feature__detail {
  padding: 0px 5px;
}
.main__feature__detail p {
  color: grey;
  font-size: 14px;
}
.main__feature__cost {
  font-weight: bold;
  color: #4f93f3;
}
/* review part layout */
.main__review ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main__review ul li {
  width: 45%;
  padding: 20px 0px;
}

.review__content__overview {
  display: flex;
  justify-content: space-between;
}
.review__content__info {
  display: flex;
  align-content: center;
  padding-bottom: 20px;
}
.review__content__info img {
  padding-right: 10px;
}

.review__content__date {
  font-size: 12px;
}
/* you may also like part layout*/
.others {
  padding-bottom: 100px;
}
.others ul {
  display: flex;
  justify-content: space-between;
}
.others__post__image img {
  width: 95%;
}
.others__post__title {
  padding-left: 5px;
  padding-top: 5px;
}
.others__post__detail {
  padding: 5px 0px;
}
.others__rating__text {
  font-weight: normal;
}
/* footer layout */
footer {
  background-color: #4d8cf1;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 40px 100px;
}

footer h3 {
  padding: 10px 0px;
  color: white;
  font-size: 18px;
}

footer li {
  padding: 5px 0px;
}
.footer__contact ul li {
  display: inline-block;
}
.footer__contact img {
  border-radius: 0%;
}
.footer__line {
  border: none;
  border-top: 1px solid lightgrey;
  margin: 0px 100px;
  padding: 10px 0px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
