/* reset */
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 10px auto;
  margin-bottom: 0px;
  width: 100%;
  max-width: 1400px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: #666666;
}

ul {
  list-style: none;
}
img {
  border-radius: 10px;
}

h1,
h2,
h3 {
  color: #4a4a4a;
  font-weight: 600;
}
h1 {
  font-style: normal;
  font-size: 25px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}

.btn {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 40px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
.fa-star {
  color: #4f93f3;
}
.fa-chevron-down {
  padding: 0px 10px;
}
.fa-clock,
.fa-map-marker-alt,
.fa-chevron-right,
.fa-chevron-left,
.fa-search {
  color: #4a4a4a;
  font-size: 30px;
  padding-left: 25px;
  padding-right: 5px;
}
.fa-chevron-left,
.fa-chevron-right {
  padding: 0px 5px;
}
.fa-clock {
  padding-left: 20px;
}
.fa-facebook-f,
.fa-instagram,
.fa-linkedin-in {
  color: white;
}
input:focus {
  border: white;
}
/* header layout */
header {
  margin: 20px 100px;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; */
}
.header__logo {
  float: left;
  width: 60px;
  padding-top: 10px;
}
.header__btn__signin {
  float: right;
  height: 50px;
  line-height: 50px;
}
.header__searchbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__dropdown__choice {
  display: flex;
  align-items: center;
  margin: 0px 10px;
  padding: 8px 10px;
  width: 47%;
  border: 1px solid #4f93f3;
  border-radius: 5px;
  height: 30px;
}
.header__input {
  padding: 13px 0px;
  padding-left: 10px;
  border-radius: 0px 5px 5px 0px;
  width: 100%;
  border: none;
  border-left: 1px solid grey;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.header__searchbox__SP {
  display: none;
}
.header__btn__search {
  background-color: #4f93f3;
  border: 1px solid #4f93f3;
  color: white;
  font-weight: bold;
}
.header__btn__signin a {
  color: black;
  text-decoration: none;
}
/* info layout */
.info {
  display: flex;
  margin: 50px 100px;
  font-size: 17px;
}
.info__content {
  flex: 50%;
  padding-left: 20px;
}
.info__picture img {
  width: 100%;
  max-width: 740px;
  height: auto;
}
.info__overview {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.info__rate {
  align-self: center;
}
.info__rating__text {
  color: #4f93f3;
  font-weight: bold;
  padding-left: 2px;
}
.info__details {
  margin: 10px 0px;
}
.info__name,
.info__address,
.info__time {
  display: flex;
  align-items: center;
  padding: 8px 0px;
}
.info__name__text {
  font-weight: bold;
  padding-left: 10px;
}
.info__name img {
  border-radius: 50%;
}
.info__btn__message {
  margin-top: 30px;
  padding: 10px 30px;
  font-size: 14px;
  background-color: white;
  color: #4f93f3;
  border: 1px solid #4f93f3;
  font-family: "Open Sans", sans-serif;
}
/* navigation layout*/
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  color: #4a4a4a;
  margin: 40px 100px;
  margin-bottom: 60px;
  padding: 20px 0px;
}
.navigation ul li {
  display: inline;
  padding: 0px 18px;
}
.navigation ul li a {
  text-decoration: none;
  color: #4a4a4a;
}
.navigation ul li.active a {
  color: #4d8cf1;
}
.navigation ul li.active {
  padding-left: 0;
}
.navigation ul li a:hover {
  color: #4d8cf1;
}
.navigation ul .navigation__all {
  display: none;
  padding-left: 10px;
}
.navigation__dropbox {
  display: none;
}
/* main layout */
main {
  margin: 20px 100px;
  margin-bottom: 100px;
}
main h1 {
  margin: 30px 0px;
}
.main__content {
  margin: 50px 0px;
}
.main__content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main__content ul li {
  flex-grow: 1;
  width: calc(100% * (1 / 3) - 40px - 1px);
  margin: 10px 0px;
}
.main__content ul li:nth-child(3n-1) {
  margin: 10px 40px;
}
.main__feature {
  display: flex;
}
.main__feature__image {
  padding-right: 5px;
}

.main__feature__content {
  padding-left: 10px;
}
.main__feature__title {
  display: flex;
  justify-content: space-between;
}
.main__feature__detail {
  width: 80%;
}
.main__feature__cost {
  font-weight: bold;
  color: #4f93f3;
  font-size: 16px;
}
/* review part layout */
.main__review {
  margin: 50px 0px;
}

.main__review ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main__review ul li {
  width: 45%;
  padding: 20px 0px;
}

.review__content__overview {
  display: flex;
  justify-content: space-between;
}
.review__content__overview .fas {
  color: #ffbb00;
}
.review__content__info {
  display: flex;
  align-content: center;
  padding-bottom: 20px;
}
.review__content__info img {
  padding-right: 10px;
}

.review__content__date {
  font-size: 12px;
}
.main__review a {
  color: #4a4a4a;
}
/* you may also like part layout*/
.others {
  margin: 50px 0px;
}
.others ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 0px;
  padding-bottom: 80px;
}
.others ul li {
  padding: 0px 5px;
  width: 32%;
}
.others ul li:first-child {
  padding-left: 0;
}
.others ul li:last-child {
  padding-right: 0;
}
.others__post__image img {
  width: 100%;
}

.others__post__title {
  padding-top: 5px;
}
.others__post__detail {
  padding: 5px 0px;
}
.others__rating__text {
  font-weight: normal;
}
/* footer layout */
footer {
  background-color: #4d8cf1;
  font-size: 14px;
  color: white;
  font-family: "Poppins", sans-serif;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px 100px;
  padding: 40px 0px;
}
.footer__container__info {
  width: 25%;
}
footer h3 {
  padding: 10px 0px;
  color: white;
  font-size: 18px;
}

footer li {
  padding: 5px 0px;
}
.footer__contact {
  display: flex;
}
.footer__contact__icon {
  width: 25px;
  border-radius: 5px;
  border: 1px solid white;
  text-align: center;
}
.footer__contact__icon:nth-child(2) {
  margin: 0px 10px;
}
.footer__download {
  display: flex;
}
.footer__download img {
  width: 97%;
}
.footer__line {
  border: none;
  border-top: 1px solid lightgrey;
  margin: 0px 100px;
  padding: 10px 0px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

@media only screen and (max-width: 1024px) {
  /* change nav bar */
  .navigation ul .navigation__all {
    font-weight: bold;
    display: inline;
  }
  .navigation ul .navigation__choice {
    display: none;
  }

  .navigation__dropbox {
    display: inline;
  }
  .navigation__search {
    display: none;
  }
  .navigation__direction {
    display: none;
  }
  /*change layout components*/
  .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  .info__content {
    padding: 0;
  }
  .main__content ul li {
    width: 45%;
  }
  .others ul li {
    width: 45%;
  }
  .others ul li:last-child {
    padding: 20px 0px;
  }
  .btn {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 767px) {
  /* general reset */
  body {
    font-family: "Poppins", sans-serif;
  }
  h1 {
    padding: 10px 0px;
    font-size: 18px;
    font-weight: bold;
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header,
  .info,
  main,
  .footer__container {
    margin: 30px;
  }
  .main__content ul li:nth-child(3n-1) {
    margin: 15px 0;
  }
  .main__content ul li:nth-child(odd) {
    margin-right: 20px;
  }
  .navigation {
    margin: 20px 30px;
  }

  .info__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .info__btn__message {
    margin: 0;
  }
  .info__picture {
    padding-bottom: 30px;
  }
  .footer__container__info {
    width: 50%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* general reset */
  /* body {
    font-family: "Poppins", sans-serif;
  }
  h1 {
    padding: 10px 0px;
    font-size: 18px;
    font-weight: bold;
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
  } */
  /* reset layout */
  header,
  .info,
  main {
    margin: 0px 15px;
  }

  .navigation {
    margin: 30px 15px;
  }
  /* reset components's layout */
  main h1 {
    margin: 15px 0px 10px;
    margin-top: 15px;
  }
  .main__content,
  .main__review,
  .others {
    margin: 0px;
  }
  .others {
    margin-top: 30px;
  }
  .main__review ul li,
  .others ul li {
    margin: 10px 0px;
  }
  .footer__container {
    margin: 0;
    padding: 0px 15px;
  }
  .footer__container__info {
    margin: 10px 0px;
  }
  .footer__line {
    margin: 0;
  }
  .footer__container__info {
    width: 100%;
  }
  /* reset components using flex */
  .info,
  .main__content ul,
  .main__feature__title,
  .main__review ul,
  .others ul,
  .footer__container {
    flex-direction: column;
  }

  /* reset components's width to fit the width's device */
  .info__content,
  .main__content ul li,
  .main__review ul li,
  .others ul li {
    padding: 0;
    width: 100%;
  }
  .info__btn__message {
    width: 100%;
    margin: 20px auto;
  }
  .info__content h1,
  .info__name__text {
    font-size: 22px;
  }
  .main__feature__image img {
    width: 90px;
  }
  .main__feature__cost {
    font-size: 14px;
  }
  .main__feature__detail {
    width: 100%;
    font-size: 12px;
  }
  .main__content ul li,
  .main__content ul li:nth-child(3n-1) {
    margin: 15px 0px;
  }
  .others h1 {
    font-size: 22px;
  }
  .others ul {
    margin-top: 0px;
  }
  .others ul li {
    margin-bottom: 30px;
  }
  /* change nav bar */
  /* .navigation ul .navigation__all {
    font-weight: bold;
    display: inline;
  }
  .navigation ul .navigation__choice {
    display: none;
  }

  .navigation__dropbox {
    display: inline;
  }
  .navigation__search {
    display: none;
  }
  .navigation__direction {
    display: none;
  } */

  /* reset header */
  .fa-search {
    font-size: 20px;
    padding: 0;
  }
  .header__line:after {
    clear: both;
    display: block;
    content: ".";
    height: 0;
    line-height: 0;
    visibility: hidden;
  }
  .header__searchbox {
    clear: both;
    display: flex;
    margin: 20px 0;
    width: 100%;
  }
  .header__input__search {
    display: none;
  }
  .header__input {
    font-family: "Poppins", sans-serif;
    padding-top: 11.5px;
    padding-bottom: 11px;
  }
  .header__searchbox__SP {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .header__dropdown__choice {
    margin: 0;
    width: 100%;
  }
  .header__btn__search {
    display: none;
  }
}
